# Archivos compilados
dist/
*.js
*.js.map
*.d.ts
*.d.ts.map

# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Temporales
*.tmp
.temp/
